<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madfitness.fitness">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.madfitness.fitness.utils.Excercise_AbsWomenApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/circleicon"
        android:roundIcon="@drawable/runningMan"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.madfitness.fitness.Ex_activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.madfitness.fitness.Ex_activities.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.madfitness.fitness.Ex_activities.ActivityAbout"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.madfitness.fitness.Ex_activities.Ex_DayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.madfitness.fitness.Ex_activities.Ex_RestDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.madfitness.fitness.Ex_activities.Ex_TipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.madfitness.fitness.Ex_activities.Ex_CompletionExcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.madfitness.fitness.Ex_activities.ExcDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.madfitness.fitness.Ex_alarm.Ex_AlarmMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.madfitness.fitness.Ex_activities.MainExcerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

<activity android:name="com.madfitness.fitness.Ex_activities.privacy_policy"
    android:screenOrientation="portrait"
    android:theme="@style/AppTheme.NoActionBar" ></activity>

        <activity android:name="com.madfitness.fitness.Ex_activities.Terms"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <receiver
            android:name="com.madfitness.fitness.Ex_alarm.Ex_NotificationPublisher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".alarmmanagerdemo.NOTIFY_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.madfitness.fitness.Ex_AbsBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.madfitness.fitness.Ex_alarm.Ex_AlarmReciever"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6450295498793880~1076929986"/>
    </application>

</manifest>